@page "/bookmeeting"
@using MudBlazor
@inject NavigationManager NavManager
@inject LoginService LoginService
@inject MeetingService MeetingService
@inject StudentService StudentService
@rendermode InteractiveServer

<h3>@MeetingService.StudentPageMeetingParam</h3>

<MudDatePicker Label="yyyy-MM-dd" Editable="true" @bind-Date="date" PickerVariant="PickerVariant.Dialog" Mask="@(new DateMask("0000-00-00"))" DateFormat="yyyy-MM-dd"/>
<MudTimePicker Label="24 hours" @bind-Time="time" PickerVariant="PickerVariant.Dialog"/>
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="InitVar">Book</MudButton>

@code {
    DateTime? date;
    TimeSpan? time;

    protected override void OnInitialized()
    {
        DateTime now = DateTime.Now;

        if (now.Hour >= 17)
        {
            date = now.Date.AddDays(1);
            time = new TimeSpan(9, 0, 0); // Set time to 09:00 on the next day
        }
        else
        {
            date = now.Date;
            if (now.Hour >= 9)
            {
                time = new TimeSpan(now.Hour + 1, 0, 0); // Set time to the next full hour
            }
            else
            {
                time = new TimeSpan(9, 0, 0); // Set time to 09:00
            }
        }
    }

    DateTime chosenMeeting;

    public void InitVar()
    {
        DateTime chosenDate = (DateTime)date;
        TimeSpan chosenTime = (TimeSpan)time;

        chosenMeeting = chosenDate.Date.Add(chosenTime);
        MeetingService.Meeting meeting1 = new MeetingService.Meeting(MeetingService.StudentPageMeetingParam, chosenMeeting, "RBB-217");
        MeetingService.AddMeeting(meeting1);
        NavManager.NavigateTo("/meetings");
    }
}